{% extends 'templates/app.twig' %}
{% block title %}View all notes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
{% if note %}
            <form action="{{ path_for('edit.note', {note_id: note.note_id}) }}" method="post" autocomplete="off">
            	<div class="form-group{{ errors.note_text ? ' has-error' : '' }}">
                    <label for="note">Edit note</label>
                    <input type="text" name="note_text" id="note_text" class="form-control" value="{{ note.note_text }}">
                    {% if errors.note_text %}
                        <span class="help-block">{{ errors.note_text | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Edit note</button>
                 </div>
                <input type="hidden" name="_METHOD" value="PUT">
            	{{ csrf.field | raw }}
			</form>
{% else %}
	There is no note :/ Create some!! =)
{% endif %}

</div>
</div>
{% endblock %}